@import 'base'
@import url('https://fonts.googleapis.com/css?family=Roboto')

$darkblue: #284B63
$lightblue: #34A4D3
$grey: #353535
$lightgrey: #999999
$lightergrey: #efefef
$white: #EEE

body
    font-family: 'Roboto', sans-serif
    color: $grey

h1
    margin: .5rem
    color: $lightgrey

.grid-container 
    width: 80vw
    max-width: 90rem
    margin: 3rem auto
    display: grid
    grid-auto-rows: minmax(4rem, 2fr)
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr))
    grid-gap: .7rem

.l-flexbox
    display: flex
.l-flexitem
    flex: 1
.l-flexitem--shrink
    flex: 0
.l-flexitem--end-cap
    flex: 0
    margin-left: auto
.l-flexitem--padded
    padding: 0 .8rem 0 0

.box 
    position: relative
    border: 1px solid black
    border-radius: 8px
    padding: 1rem

    h2
        font-size: 2.2rem

    &:hover
        .box__content
            p
                color: $lightblue
    
    //clearfix
    &:after
        content: ""
        display: table
        clear: both
.box__header
    padding: 0 0 .5rem 0
.box__title--highlight
    color: $lightblue
    margin: 0 0 0.5rem 0
.box__sub-title
    font-weight: normal
    font-size: 1.3rem
    color: $lightgrey

.box__content
    p
        font-size: 2.5rem
        color: $lightgrey
        transition: color 200ms ease-in-out
        padding: 0
.box__content-title
    font-weight: normal
    font-size: 2.2rem
    color: $grey
    margin-bottom: 0.6rem
.box__content-sub-title
    font-weight: normal
    font-size: 1.9rem
    color: $grey
    text-decoration: underline
    margin-bottom: 0.4rem

.box__result-list
    font-size: 1.7rem
    li
        margin: 0.3rem 0

.box__footer
    position: absolute
    display: block
    left: 0
    bottom: 0
    padding: 1rem
    width: 100%
.box--tall
    grid-row: span 2
.box--full-span
    grid-column: 1 / -1

.btn-group
    padding: .4rem 0

.list-container
    width: 60%
    float: left

.btn-list
    li
        padding: 0 0 .4rem 0
    input
        width: 100%

.btn-list--inline
    display: flex
    li
        flex-grow: 1
        flex-basis: 0
        padding: 0 .4rem

.btn
    border: 2px solid $lightblue
    border-radius: 8px
    background: transparent
    padding: 1rem
    font-size: 1.3rem

.btn:hover 
    border-color: $darkblue

.btn:active
    background-color: $lightblue
    border-color: $lightblue

.btn--selected
    background-color: $lightblue
    color: $white

.icon
    width: 4rem
    height: 4rem