include templates/header

#container
  h1 Perilous Tables
  #monster-gen
    input#btn--gen(
      type="button"
      value="Generate Monster"
    )
    p#creature Creature: 
      span.table
    p#activity Activity: 
      span.table
    p#alignment Alignment:
      span.table
    p#disposition Disposition:
      span.table
    p#no-appearing No. Appearing:
      span.table
    p#size Size:
      span.table